<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<h1>Заголовок страницы</h1>
<p>Основной текст страницы</p>

<div class="container">
  <h2 id="h1-text">Заголовок блока</h2>
  <p>Текст внутри блока</p>
</div>
<a href="https://example.com">Перейти на сайт</a>
<img src="image.jpg" alt="Описание изображения">

<ul>
  <li>Пункт 1</li>
  <li>Пункт 2</li>
</ul>
<ol>
  <li>Первый пункт</li>
  <li>Второй пункт</li>
</ol>

<form action="/submit" method="POST">
  <input type="text" name="username"required maxlength="10" minlength="3" pattern="[A-Za-z]+"  placeholder="Введите ваше имя">
  <button type="submit">Отправить</button>
</form>
<table>
  <tr>
    <td>Ячейка 1</td>
    <td>Ячейка 2</td>
  </tr>
</table>

<div>
  <form>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </form>
  <div>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </div>
</div>
<span style="color: red;">Красный текст</span>
<div>
  <div id="footer">
    <span>Python</span>
    <span>Pytest</span>
    <span>Playwright</span>
  </div>
</div>

</body>
</html>